<%-include('./partials/header') %> 
<div class="jumbotron">
  <h1 class="display-4">MovieApp</h1>
  <p class="lead">
    This is a simple movie search application, where users can search for their
    favourite movie and all their thoughts on it.
  </p>
  <hr class="my-4" />
  <p></p>
</div>

<%-include('./partials/footer') %> 
